{{ form_start(form) }}
<div class="form-group">
    {{ form_label(form.name,"Name") }}
    {{ form_errors(form.name) }}
    {{ form_widget(form.name,{'attr': {'class': 'form-control'}}) }}
</div>
<div class="form-group">
    {{ form_label(form.img_path,"Image") }}
    {{ form_errors(form.img_path) }}
    {{ form_widget(form.img_path) }}
</div>
<div class="form-group">
    {{ form_label(form.description) }}
    {{ form_errors(form.description) }}
    {{ form_widget(form.description,{'attr': {'class': 'form-control'}}) }}
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <label for="tags">Tags</label>
            <div class="tags" data-prototype="{{ form_widget(form.tags.vars.prototype)|e('html_attr') }}">
                {# iterate over each existing tag and render its only field: name #}
                {% for tag in form.tags %}
                    <div class="tags-setted">
                        {{ form_label(tag.name) }}
                        {{ form_errors(tag.name) }}
                        {{ form_widget(tag.name) }}
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
</div>
<div class="form-group">
    <div class="pull-right">
        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-floppy-disk"></span> Save it!
        </button>
    </div>
</div>
{{ form_end(form) }}