<div class="col-xs-12 {{ cycle(['even', 'odd'], loop.index) }} list-table-tr list__product_item" >
    <a href="#">
        <div class="col-xs-3 list-table-td">
            {{ loop.index }}
        </div>
        <div class="col-xs-3 list-table-td">
            {{ product.createAt|date("d/m/Y") }}
        </div>
        <div class="col-xs-3 list-table-td">
            {% if product.imgPath == null %}
                <i>No image</i>
            {% else %}
                <img src="{{ asset('uploads/images/' ~ product.imgPath) }}" class="img-responsive image-thumb">
            {% endif %}
        </div>
        <div class="col-xs-3 list-table-td">
            {{ product.name }}
        </div>
    </a>
</div>